[defaults]
host_key_checking = false
inventory      = ./inventory/hosts.ini
remote_tmp     = ./tmp
scp_if_ssh     = True
forks          = 10
log_path       = ./log/ansible.log
timeout        = 30
roles_path     = ./roles:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/roles:/etc/ansible/roles